{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "tab-content"}}
<div id="tabTestCases">
    <div class="row tab-side-bar-row">
        <div class="col-md-12">
            <h4 class="mb-3">{{ .Project.Owner }}/{{ .Project.Name }} : Test Sequences</h4>
            <ul class="list-group">
            {{range .TestSequences }}
                <li class="list-group-item testSequenceLine" id="{{ .Name }}">
                {{ .Name }}
                </li>
            {{else}}
                <p class="text-center empty-project-list">
                    <span class="text-muted text-center">
                        There are no test sequences yet.
                    </span>
                </p>
            {{end}}
            </ul>
        </div>
    </div>

</div>
{{ end }}